DSN=root:v@tcp(127.0.0.1:3306)/jwtgo?charset=utf8mb4&parseTime=True&loc=Local
SECRET=eyJhb4w58BrIsInR5cCI6IktrytryryrtypXVCJ9
GEMINI_API_KEY=AIz324fgdsdgSADDFjSw0UE7IQU000UD
OPENAI_API_KEY=sk-6jhdsfauifas46fDDSWWdwfwSOaaEYd9HnjZMTPhu
GIN_MODE=release
PORT=8080
HTTP_PROXY=127.0.0.1:1081
